In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import json

In [1]:
baseUrl = 'https://frames.pse.com.ph/security/'

In [5]:
resp = requests.get(baseUrl+'ap')

In [18]:
soup = BeautifulSoup(resp.text, 'html.parser')
table = soup.find('table', id='data')

In [8]:
# date, ohlc, average, volume, value

In [21]:
data = []

for tr in table.find_all('tr')[1:]:
    tds = tr.find_all('td')
    data.append({
        'symbol': 'AP',
        'date': tds[0].text,
        'open': tds[1].text,
        'high': tds[2].text,
        'low': tds[3].text,
        'close': tds[4].text,
        'average': tds[5].text,
        'volume': tds[6].text,
        'value': tds[7].text,
    })

In [22]:
df = pd.DataFrame(data)
df.head()

,symbol,date,open,high,low,close,average,volume,value
0,AP,"Oct 12, 2021",30.60,31.25,30.60,30.70,30.98,"1,924,600","59,619,980.00"
1,AP,"Oct 11, 2021",29.65,31.15,29.65,31.00,30.84,"3,723,900","114,839,230.00"
2,AP,"Oct 08, 2021",29.75,30.60,29.50,29.55,29.96,"3,763,400","112,767,680.00"
3,AP,"Oct 07, 2021",30.45,30.65,29.55,29.60,30.05,"4,920,700","147,862,310.00"
4,AP,"Oct 06, 2021",29.75,30.75,29.50,30.65,30.41,"5,912,600","179,819,075.00"

In [23]:
df.dtypes

symbol     object
date       object
open       object
high       object
low        object
close      object
average    object
volume     object
value      object
dtype: object

In [24]:
df.open = df.open.str.replace(',','').astype(float)
df.high = df.high.str.replace(',','').astype(float)
df.low = df.low.str.replace(',','').astype(float)
df.close = df.close.str.replace(',','').astype(float)
df.average = df.average.str.replace(',','').astype(float)
df.volume = df.volume.str.replace(',','').astype(int)
df.value = df.value.str.replace(',','').astype(float)
df.dtypes

symbol      object
date        object
open       float64
high       float64
low        float64
close      float64
average    float64
volume       int64
value      float64
dtype: object

In [25]:
df.to_csv('ap.csv', index=False)

In [40]:
def get_stock_data(symbol=''):
    resp = requests.get(baseUrl+symbol.lower())
    soup = BeautifulSoup(resp.text, 'html.parser')
    table = soup.find('table', id='data')
    
    data = []

    for tr in table.find_all('tr')[1:]:
        tds = tr.find_all('td')
        data.append({
            'symbol': symbol.upper(),
            'date': tds[0].text,
            'open': tds[1].text,
            'high': tds[2].text,
            'low': tds[3].text,
            'close': tds[4].text,
            'average': tds[5].text,
            'volume': tds[6].text,
            'value': tds[7].text,
        })
        
    if len(data) > 0:    
        df = pd.DataFrame(data)
        df.open = df.open.str.replace(',','').astype(float)
        df.high = df.high.str.replace(',','').astype(float)
        df.low = df.low.str.replace(',','').astype(float)
        df.close = df.close.str.replace(',','').astype(float)
        df.average = df.average.str.replace(',','').astype(float)
        df.volume = df.volume.str.replace(',','').astype(int)
        df.value = df.value.str.replace(',','').astype(float)
        df.dtypes

        return df
    pass

In [41]:
df = get_stock_data('AP')

In [42]:
df.head()

,symbol,date,open,high,low,close,average,volume,value
0,AP,"Oct 12, 2021",30.60,31.25,30.60,30.70,30.98,1924600,59619980.0
1,AP,"Oct 11, 2021",29.65,31.15,29.65,31.00,30.84,3723900,114839230.0
2,AP,"Oct 08, 2021",29.75,30.60,29.50,29.55,29.96,3763400,112767680.0
3,AP,"Oct 07, 2021",30.45,30.65,29.55,29.60,30.05,4920700,147862310.0
4,AP,"Oct 06, 2021",29.75,30.75,29.50,30.65,30.41,5912600,179819075.0

In [43]:
all_stocks = pd.read_csv('stocks.csv')

In [50]:
df = pd.DataFrame()

for symbol in all_stocks.symbol:
    df = df.append(get_stock_data(symbol))
    print(symbol + ' done')

2GO done
AAA done
AB done
ABA done
ABG done
ABS done
AC done
ACE done
ACEN done
ACEX done
ACR done
AEV done
AGI done
ALCO done
ALHI done
ALI done
ALLHC done
ANI done
ANS done
AP done
APC done
APL done
APO done
APX done
AR done
ARA done
AREIT done
AT done
ATI done
ATN done
ATNB done
AUB done
AXLM done
BC done
BCB done
BCOR done
BDO done
BEL done
BH done
BHI done
BKR done
BLFI done
BLOOM done
BMM done
BPI done
BRN done
BSC done
C done
CA done
CAB done
CAT done
CDC done
CEB done
CEI done
CEU done
CHI done
CHIB done
CHP done
CIC done
CIP done
CLI done
CNPF done
CNVRG done
COAL done
COL done
COSCO done
CPG done
CPM done
CROWN done
CSB done
CYBR done
DD done
DDMPR done
DELM done
DFNN done
DITO done
DIZ done
DMC done
DMW done
DNL done
DWC done
EAGLE done
ECP done
EEI done
EG done
ELI done
EMP done
EURO done
EVER done
EW done
FAF done
FB done
FDC done
FERRO done
FEU done
FFI done
FGEN done
FILRT done
FJP done
FJPB done
FLI done
FNI done
FOOD done
FPH done
FPI done
FRUIT done
FYN done
FYNB done
GEO done
GERI done
GLO done
GMA7 done
GPH done
GREEN done
GSMI done
GTCAP done
HI done
HLCM done
HOME done
HOUSE done
HVN done
I done
ICT done
IMI done
IMP done
ION done
IPM done
IPO done
IRC done
IS done
JAS done
JFC done
JGS done
JOH done
KEEPR done
KEP done
KPH done
KPHB done
LAND done
LBC done
LC done
LCB done
LFM done
LMG done
LODE done
LOTO done
LPZ done
LR done
LSC done
LTG done
MA done
MAB done
MAC done
MACAY done
MAH done
MAHB done
MARC done
MAXS done
MB done
MBC done
MBT done
MED done
MEG done
MER done
MFC done
MG done
MGH done
MHC done
MJC done
MJIC done
MONDE done
MPI done
MRC done
MREIT done
MRSGI done
MVC done
MWC done
MWIDE done
NI done
NIKL done
NOW done
NRCP done
NXGEN done
OM done
OPM done
OPMB done
ORE done
OV done
PA done
PAL done
PAX done
PBB done
PBC done
PCOR done
PCP done
PERC done
PGOLD done
PHA done
PHC done
PHES done
PHN done
PHR done
PIZZA done
PLC done
PMPC done
PNB done
PNC done
PNX done
PORT done
PPC done
PRC done
PRIM done
PRMX done
PSB done
PSE done
PTC done
PTT done
PX done
PXP done
RCB done
RCI done
RCR done
REG done
RFM done
RLC done
RLT done
ROCK done
ROX done
RRHI done
SBS done
SCC done
SECB done
SEVN done
SFI done
SGI done
SGP done
SHLPH done
SHNG done
SLF done
SLI done
SM done
SMC done
SMPH done
SOC done
SPC done
SPM done
SRDC done
SSI done
SSP done
STI done
STN done
STR done
SUN done
T done
TBGI done
TECH done
TEL done
TFC done
TFHI done
TUGS done
UBP done
UNI done
UPM done
URC done
V done
VITA done
VLL done
VMC done
VUL done
VVT done
WEB done
WIN done
WLCON done
WPI done
ZHI done

In [51]:
df.shape

(7890, 9)

In [53]:
df.to_csv('stock prices as of 10 12.csv', index=False)